---
import BaseLayout from "./BaseLayout.astro";
import AppProse from "../components/app/Prose.astro";
const { frontmatter, slug } = Astro.props;
import themeConfig from "@util/themeConfig";
import { Icon } from "astro-icon/components";
import AppShell from "@components/app/AppShell.astro";
import config from "@util/themeConfig";
import SidebarShell from "@components/app/SidebarShell.astro";
import TitleHeader from "@components/listings/TitleHeader.astro";

const siteTitle = themeConfig.general.title;
const title = frontmatter?.title || siteTitle;
const link = frontmatter?.link;
const description = frontmatter?.description;
const linkText = link?.replace(/^https?:\/\//, "");
const pageHeader = themeConfig.listings.pageHeader;
const sidebar = config.layout.sidebar;
---

<BaseLayout title={title} description={description} slug={slug}>
  {
    sidebar ? (
      <SidebarShell showSidebar={false}>
        <div class="max-w-2xl w-full mx-auto py-20">
          {pageHeader == "title" && (
            <TitleHeader
              title={title}
              description={description}
              link={link}
              linkText={linkText}
              image={frontmatter.image}
              phone={frontmatter.phone}
              email={frontmatter.email}
              address={frontmatter.address}
              languages={frontmatter.languages}
              specialties={frontmatter.specialties}
              hours={frontmatter.hours}
            />
          )}
          <AppProse>
            <slot />
          </AppProse>
        </div>
      </SidebarShell>
    ) : (
      <AppShell>
        <div class="max-w-2xl w-full mx-auto py-20">
          {pageHeader == "title" && (
            <TitleHeader
              title={title}
              description={description}
              link={link}
              linkText={linkText}
              image={frontmatter.image}
              phone={frontmatter.phone}
              email={frontmatter.email}
              address={frontmatter.address}
              languages={frontmatter.languages}
              specialties={frontmatter.specialties}
              hours={frontmatter.hours}
            />
          )}
          <AppProse>
            <slot />
          </AppProse>
        </div>
      </AppShell>
    )
  }
</BaseLayout>
